@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.prose {
  line-height: 1.5;
  p {
    margin: 0;
  }
  &:focus {
    outline: none;
  }
}
